<div class="container-md">
  <div class="row">
    <div class="col">
      <div class="card ">
        <div class="card-header bg-primary bg-opacity-75 text-light">
          <p>{{ team.teamId}} - {{ team.teamName }}</p>
          <section class="d-block p-2 ">
            <a class="text-white" [routerLink]="['/Players', team.teamId]">Players</a>
          </section>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6>Captain : </h6>
              <p>{{ team.captain }}</p>
            </div>
          </div>
          <h6>Players: </h6>
          <p>{{ team.playersCount }}</p>
          <h6>Created On: </h6>
          <p>{{ team.createdDate }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
