<div class="container-lg">
  <div class="row-cols-6">
    <div class="col-sm-6 col-sm-6 col-sm-6 col-sm-6 col-sm-offset-1 col-sm-offset-2">
      <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
        <label for="team">Team </label>
        <input class="mt-2 mb-2  from-group form-control"
               type="text"
               name="team"
               formControlName="team"
               id="team"
        >
        <label for="playerName">Player Name </label>
        <input class="mt-2 mb-2  from-group form-control"
               type="text"
               formControlName="playerName"
               name="playerName"
               id="playerName"
        >
        <label for="speciality">Speciality </label>
        <select id="speciality" class="form-control form-select"
                formControlName="speciality">
          <option disabled selected>Speciality</option>
          @for (speciality of specialities; track $index) {
            <option class="form-select" value="{{speciality}}">
              {{ speciality }}
            </option>
          }
        </select>
        <label for="age">Age </label>
        <input class="mt-2 mb-2 from-group form-control"
               type="number"
               formControlName="age"
               name="age"
               id="age"
        >
        <label for="dob">DOB: </label>
        <input class="mt-2 mb-2  from-group form-control"
               type="date"
               name="dob"
               formControlName="dob"
               id="dob"
        >
        <div><p>Gender:</p></div>
        <select class="form-control form-select"
                formControlName="gender"
                (change)="onIsGenderChange($event)">
          <option disabled selected>Select Gender</option>
          @for (gender of genders; track $index) {
            <option class="form-select" value="{{gender}}">
              {{ gender }}
            </option>
          }
        </select>
        <div><p>Is Captain ?</p></div>
        <select class="form-control form-select"
                formControlName="isCaptain"
                (change)="onIsCaptainChange($event)">
          <option disabled selected>Is Captain</option>
          @for (isCaptain of captainValues; track $index) {
            <option class="form-select" value="{{isCaptain}}">
              {{ isCaptain }}
            </option>
          }
        </select>
        <div class="row mt-4">
          <div class="col">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
