<div class="navbar navbar-expand-md bg-primary bg-opacity-50 mt-2" style="padding: 0">
  <div class="collapse-horizontal navbar-collapse align-content-lg-start" style="padding: 0">
    <ul class="nav navbar-nav ms-0" style="padding: 0">
      @for (mainValues of mainHeaderValues; track $index) {
        <li class="nav-item">
          <a class="nav-link text-light"
             routerLink="{{'/' + mainValues}}"
             routerLinkActive="active"
             style="cursor: pointer">{{ mainValues }}</a>
        </li>
      }
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light"
           role="button"
           id="navDropdown"
           data-bs-toggle="dropdown">
          Cricket
        </a>
        <ul class="dropdown-menu bg-transparent">
          <li><a class="dropdown-item text-success" routerLink="/Matches">Matches</a></li>
          <li><a class="dropdown-item text-success" routerLink="/Team">Teams</a></li>
          <li><a class="dropdown-item text-success" routerLink="/Players">Players</a></li>
        </ul>
      </li>

    </ul>
  </div>

  <div class="navbar navbar-nav" style="padding: 0">
    <ul class="nav navbar-nav" style="padding: 0">
      @for (userValues of userHeaderValues; track $index) {
        <li class="nav-item ">
          <a class="nav-link ms-4 text-light"
             routerLink="{{'/' + userValues}}"
             routerLinkActive="active"
             style="cursor: pointer">{{ userValues }}</a>
        </li>
      }
    </ul>

    <i class="nav-item bi bi-person-circle"></i>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light"
         role="button"
         id="userDropdown"
         data-bs-toggle="dropdown">
      </a>
      <ul class="dropdown-menu bg-transparent">
        <li><a class="dropdown-item text-success" routerLink="/Login">Login</a></li>
        <li><a class="dropdown-item text-success" routerLink="/Logout">Logout</a></li>
      </ul>
    </li>
  </div>
</div>

