<form #frm="ngForm" (ngSubmit)="onSubmit(frm)">
  <div class="row">
    <div class="col-6">
      <label class="mb-2"
             for="username">
        <section>User Name</section>
      </label>
      <input type="text"
             class="form-control"
             placeholder="User Name"
             id="username"
             name="userName"
             maxlength="20"
             data-bs-popper="tooltip"
             data-popper-placement="top"
             title="user name is string provided , email"
             ngModel #userName required>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mt-2 mb-2">
      <label for="password">
        <section>Password</section>
      </label>
      <input type="password"
             class="form-control"
             placeholder="Password"
             id="password"
             name="password"
             maxlength="20"
             data-bs-popper="tooltip"
             data-popper-placement="right"
             title="password is string provided"
             ngModel #password required>
    </div>
  </div>

  @if (isNewUser) {
    <div class="row">
      <div class="col-6 mt-2 mb-2">
        <label for="confirmPassword"> Confirm Password </label>
        <input type="password"
               class="form-control"
               placeholder="Confirm Password"
               name="confirmPassword"
               id="confirmPassword"
               data-bs-popper="tooltip"
               data-popper-placement="right"
               title="confirm password same as password"
               ngModel #confirmPassword required>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-2 mb-2">
        <label for="email"> Email </label>
        <input type="email"
               class="form-control input-group-lg"
               placeholder="Email"
               id="email"
               name="email"
               data-bs-popper="tooltip"
               data-popper-placement="right"
               title="email is required e.g. abc@example.com"
               ngModel #email required>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-2 mb-2">
        <label for="phone"> Phone </label>
        <input type="text"
               class="form-control"
               placeholder="Phone Number"
               id="phone"
               name="phone"
               data-bs-popper="tooltip"
               data-popper-placement="right"
               title="Phone is required e.g. '123-234-2345'"
               ngModel #phone required>
      </div>
    </div>
  }

  <div class="row">
    <div class="col-6 mt-4">
      <button class="btn btn-success" type="submit">{{ isNewUser ? 'Register' : 'Login' }}</button>
      <button class="btn btn-info ms-3" type="reset">Reset</button>
    </div>
    <div class="col-2 mt-4">
      <a routerLink="/Login"
         (click)="onRegister()"> {{ !isNewUser ? "Register" : "Login" }}</a>
    </div>
  </div>
</form>
