<div class="container-lg">
  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-secondary" (click)="onCreateTeam()">Add Team</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      @for (team of teams(); track $index) {
        <span class="d-block p-2 text-bg-secondary"
              (click)="onSelectTeam(team.teamId)"
              style="cursor: pointer">
            ({{ team.teamId }}) - {{ team.teamName }}
          <hr>
          </span>
      }
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>


